<div class="one-chat" id={{id}}>
    <div class="message-author-name">{{created_by}}</div>
    <div class="short-message">{{title}}</div>
    <div class="buttonwrapper" data-id={{id}}>
        {{{getchatbutton}}}
        <form id="add-delete-user-form" data-id={{id}}>
            {{{inputadduser}}}
            {{{adduserbutton}}}
            {{{deleteuserbutton}}}

        </form>

    </div>
</div>
