<main class="page">
    <section class="registry-section">
        <h2 class="title">Sign up</h2>
        <form class="registry-form" id="registry-form">
            <div class="input-container">
                {{{emailinput}}}
                {{{logininput}}}
                {{{first_nameinput}}}
                {{{second_nameinput}}}
                {{{phoneinput}}}
                {{{passwordinput}}}
            </div>
            {{{enterbtn}}}
            {{{toauthbtn}}}
        </form>
    </section>
    <div id="error"></div>
</main>
