<main class="page">
    <section class="registry-section">
        <h2 class="title">Sign up</h2>
        <form class="registry" id="registry-form">
            <div class="input-container">
                {{{emailinput}}}
                {{{logininput}}}
                {{{first_nameinput}}}
                {{{second_nameinput}}}
                {{{phoneinput}}}
                {{{passwordinput}}}
                {{{registration}}}
            </div>
        </form>
          <p id="error" class="error"></p>
    </section>
</main>
