<main class="page">
    <section class="auth-page">
        <h2 class="title">Sign in</h2>
        <form class="auth" id="auth-form">
            <div class="input-container">
                {{{logininput}}}
                {{{passwordinput}}}
                <p id="error" class="error"></p>
            </div>
            {{{enterbtn}}}
            {{{toregistrybtn}}}
            {{{link}}}
        </form>
    </section>
</main>
