<div class="{{ styles.chats-list }}">
    <h4>Список чатов</h4>
{{#if isLoading }}
    {{#each chats}}
        {{{this}}}
    {{/each}}
    {{{profileLink}}}
{{else}}
  Loading...
{{/if}}
<div>
{{{logoutbutton}}}
<form id="create-chat">
{{{addnewchatbutton}}}
{{{addnewchatinput}}}
</form>
<div class="{{ styles.remove-buttons }}">
{{{removechat}}}
</div>
    <form id="id-by-input">
    <div class="{{ styles.create-delete }}">
        {{{logininput}}}
        {{{getisbyinputbtn}}}
        {{{removenewuser}}}
    </div>
    </form>
</div>
</div>
