<main class="page">
    <section class="user-section">
        <h2 class="title">Change a user</h2>
        <div class="container">
        <form class="user-form" id="avatar-form">
            <div class="avatar-container"></div>
            {{{inputavatar}}}
            {{{buttonavatar}}}
        </form>
        {{!-- <p id="error" class="error"></p> --}}
        <form class="user-form" id="registry-form">
            {{{inputemail}}}
            {{{inputlogin}}}
            {{{inputfirst_name}}}
            {{{inputsecond_name}}}
            {{{inputdisplay_name}}}
            {{{inputphone}}}

            {{{enterbutton}}}
        </form>
        {{!-- <p id="error" class="error"></p> --}}
        <form class="user-form" id="password-form">
            {{{inputoldpass}}}
            {{{inputnewpass}}}
            {{{buttonchangepass}}}
        </form>
        <p id="error" class="error"></p>
        {{{button}}}
        </div>
    </section>
</main>
